/env/

usuariosApp/__pycache__
usuariosApp/migrations/__pycache__
usuariosApp/models/__pycache__
usuariosApp/serializers/__pycache__
usuariosApp/views/__pycache__

signosVitalesApp/__pycache__
signosVitalesApp/migrations/__pycache__
signosVitalesApp/models/__pycache__
signosVitalesApp/serializers/__pycache__
signosVitalesApp/views/__pycache__

profesionalApp/__pycache__
profesionalApp/migrations/__pycache__
profesionalApp/models/__pycache__
profesionalApp/serializers/__pycache__
profesionalApp/views/__pycache__

pacienteApp/__pycache__
pacienteApp/migrations/__pycache__
pacienteApp/models/__pycache__
pacienteApp/serializers/__pycache__
pacienteApp/views/__pycache__

familiarAsignadoApp/__pycache__
familiarAsignadoApp/migrations/__pycache__
familiarAsignadoApp/models/__pycache__
familiarAsignadoApp/serializers/__pycache__
familiarAsignadoApp/views/__pycache__

auxiliarApp/__pycache__
auxiliarApp/migrations/__pycache__
auxiliarApp/models/__pycache__
auxiliarApp/serializers/__pycache__
auxiliarApp/views/__pycache__

djangoHospitalProject/__pycache__